img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0px 0px;
}

header {
  padding: 0px!important;
}

footer {
  padding-bottom: 30px;
}

strong {
  color: var(--primary-hover);
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.rounded {
  border-radius: 15px!important;
}

.grid {
    display: "grid";
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: '1rem'
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --primary-hover: #ff6296;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #d81b60;
    --primary-hover: #ff6296;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #d81b60;
  --primary-hover: #ff6296;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}